p {
  font-family: Arial, sans-serif;
  margin: 0;
}

h2{
  font-family: Arial, sans-serif;
}
body{
  background-image: url("assets/Dashboard main.png");
  margin: 30px;
}

.disabled{/*TODO When one filter is select, make all others disabled*/
  pointer-events: none;
}

.collapsed{/*TODO When Filter button is clicked make filterPopup pop up*/
  visibility: hidden;
}
